AppDir/**
build/**
data/**
public/**
CakePlanner.env

CakePlanner-x86_64.AppImage
linuxdeploy-plugin-qt-x86_64.AppImage
linuxdeploy-x86_64.AppImage

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
